# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive files
.env
config/.env

# Allure raw output
allure-results/
allure-report/
